.question__container{
    .text--enunciate{
        border-bottom: $border;
    }
    .subtitle{
      padding-left: 0px;  
    }
    .form-radio{
        label {
            display: block;
            @include lateral-padding;
            cursor: pointer;
          }
          input{
              margin-right: 10px;
          }
    }
    .form-text{
        textarea{
            width: 100%;
            margin-top: 15px;
            border: $border;
            min-height: 200px;
            resize: none;
            padding: 10px
        }
    }
    .feedback{
        width: inherit;
    }
}

@media (min-width: $from-pc){
    .question__container{
 
    }
}